<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title CRUD Веб-приложения</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<header>
    <h1>Каталог сабвуферов</h1>
</header>
    
<body>
        
        @RenderBody()
        <hr />
        <footer>
            <p>Данные взяты с сайта LoudSound.ru</p>
        </footer>
    
</body>
</html>