
@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h2> <a href="~/SW/Index">Серверу отправлены некорректные данные.
        <br /> Исключение: @ViewBag.ErrMessage</a></h2>